/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.hero-card {
  max-width: 800px; /* Adjust the max width of the card */
  margin: auto; /* Center the card horizontally */
  margin-top: 50px; /* Add top margin for spacing */
}

.button-container {
  display: flex;
  justify-content: space-around; /* Evenly space the buttons */
  margin-top: 20px; /* Add top margin for spacing */
}