<div class="mat-toolbar-container">
  <mat-toolbar color="primary">
    <span class="title">{{ 'Tour of Heroes' | translate }}</span>
    <span class="spacer"></span>
    <mat-toolbar-row class="toolbar-links">
      <a mat-button routerLink="/dashboard" class="mat-toolbar-link">{{ 'Dashboard' | translate }}</a>
      <a mat-button routerLink="/heroes" class="mat-toolbar-link">{{ 'Heroes' | translate }}</a>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="langMenu">
        <mat-icon>language</mat-icon>
      </button>

      <mat-menu #langMenu="matMenu">
        <button mat-menu-item *ngFor="let language of translate.getLangs()" (click)="switchLanguage(language)">
          {{language}}
        </button>
      </mat-menu>

    </mat-toolbar-row>
  </mat-toolbar>
</div>
<div class="toggle-container">
  <mat-slide-toggle [checked]="toggleTheme" (change)="toggleTheme()">
    {{ 'Dark Mode' | translate }}
  </mat-slide-toggle>
</div>

<router-outlet></router-outlet>
<app-messages></app-messages>
